/***
 * Badges:
 * Used to display count or short flag.
 */

/**
 * Badge:
 * `.bdg`
 *
 *     @example
 *     <span class="bdg">New</span>
 *
 */
.bdg {
    background: rgba(0, 0, 0, .1);
    align-self: center;
    vertical-align: baseline;
    vertical-align: middle;
    padding: 0 6px;
    font-size: 75%;
    position: relative;
    border-radius: 12px;
}

.bdg.important {
    background: #fe4238;
}

.bdg.TR {
    position: absolute;
    top: -2px;
    right: 2px;
    margin: 0;
}