/***
 * Menus:
 * Navigation, lists and stuff.
 */

/**
 * Menu:
 * `.mnu`
 *
 *     @example
 *     <div class="mnu">
 *         <ul>
 *             <li><a href="#">Menu Item #1</a></li>
 *             <li><a href="#" class="act">Menu Item #2</a></li>
 *             <li><a href="#">Menu Item #3</a></li>
 *         </ul>
 *     </div>
 *
 */
.mnu::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.mnu {
    --zIndex-popover: var(--zIndex-5);
    margin: 0;
    padding: 0;
    z-index: var(--zIndex-popover);
}

.mnu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mnu li {
    list-style: none;
}

.mnu-item {
    white-space: nowrap;
}

.act {
    display: flex;
    align-content: center;
    align-items: center;
    position: relative;

    color: inherit;
    text-decoration: none;
    text-overflow: ellipsis;
    cursor: pointer;
}

.act .ico {
    margin-top: -2px;
}

.act:hover {
    background: rgba(0, 0, 0, .033);
}

/* Modifiers */

.mnu--inline {
    display: flex;
}

.mnu--stacked {
    display: flex;
    flex-direction: column;
}

.mnu--tabs {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, .33);
}

.mnu--tabs .act {
    position: relative;
    color: inherit;
    text-decoration: inherit;
    border: 1px solid transparent;
    position: relative;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    opacity: .6;
}

.mnu--tabs .mnu-item--cur {
    opacity: 1;
}

.mnu--tabs .mnu-item {
    flex: 1;
    overflow: hidden;

    /* Align .mnu-items without icon */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mnu--tabs .ico {
    display: block;
    margin: 5px auto;
}

.mnu--justify {
    display: flex;
}

.mnu-item--cur {
    font-weight: bold;
}

.mnu-item--cur:hover {
    background: rgba(0, 0, 0, .1);
}

/* End Modifiers */