/***
 * Notes:
 * Display individual notes.
 */

/**
 * Note:
 * `.note`
 *
 *  - Used mainly as a container for other related elements (`<p>, .btn` ...)
 *
 *     @example
 *     <div class="note pad marB">
 *         <div class="btns pad0 R compact">
 *             <button class="btn R btnVanilla S1">
 *                 <svg class="ico S1">
 *                     <use xlink:href="/5.0/dist/sprite.min.svg#trash">
 *                 </svg>
 *             </button>
 *             <button class="btn R btnVanilla S1">
 *                 <svg class="ico S1">
 *                     <use xlink:href="/5.0/dist/sprite.min.svg#pin">
 *                 </svg>
 *             </button>
 *         </div>
 *         <p>On Vacation in the Bahamas until January 15th, Do not call unless EXTREMELY important!</p>
 *     </div>
 *
 */

.note {
    border: 1px solid rgba(0, 0, 0, .05);
    background: #fff8d4;
    border-radius: 3px;
}

.note :last-child {
    margin-bottom: 0;
}