/***
 * Modifiers:
 * TODO
 */
.L {
    float: left;
    margin-right: auto;
}

.R {
    float: right;
    margin-left: auto;
}

.C {
    margin-left: auto;
    margin-right: auto;
}

.pad0 {
    padding: 0;
}

.pad {
    padding: 15px;
}

.padT {
    padding-top: 15px;
}

.padB {
    padding-bottom: 15px;
}

.padR {
    padding-right: 15px;
}

.padL {
    padding-left: 15px;
}

.padH {
    padding-left: 15px;
    padding-right: 15px;
}

.padV {
    padding-top: 15px;
    padding-bottom: 15px;
}

.mar0 {
    margin: 0;
}

.mar {
    margin: 20px;
}

.marT {
    margin-top: 20px;
}

.marB {
    margin-bottom: 20px;
}

.marR {
    margin-right: 20px;
}

.marL {
    margin-left: 20px;
}

.marH {
    margin-left: 20px;
    margin-right: 20px;
}

.marV {
    margin-top: 20px;
    margin-bottom: 20px;
}

.shd {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .33);
}

.cf::after {
    content: " ";
    display: block;
    clear: both;
}

.dI {
    display: inline;
}

.dB {
    display: block;
}

.dIB {
    display: inline-block;
}

.dF {
    display: flex;
}

.dIF {
    display: inline-flex;
}

.hid {
    display: none !important;
}

.mute {
    opacity: 0.6;
}

@media (--small-viewport) {
    .hid-sm { display: none !important; }
}

@media (--medium-viewport) {
    .hid-md { display: none !important; }
}

@media (--large-viewport) {
    .hid-lg { display: none !important; }
}

@media (--xlarge-viewport) {
    .hid-xl { display: none !important; }
}